#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Rich_text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Triangle_2 {
  -ms-transform: rotate(90.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Triangle_1 {
  -ms-transform: rotate(270.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Category_4-options {
  background-color: #FFFFFF;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Category_5-options {
  background-color: #FFFFFF;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Category_6-options {
  background-color: #FFFFFF;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}