#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Triangle_2 {
  rotation: 90.0;
  margin-left: 4px;
  margin-top: -4px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Triangle_1 {
  rotation: 270.0;
  margin-left: 3px;
  margin-top: -4px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0863e7fa-24da-4c50-88eb-13785dc8c68f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}