#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rich_text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Triangle_1 {
  -ms-transform: rotate(270.0deg);
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F7F7F7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 652px;
  height: 15px;
  -ms-transform: rotate(0.0deg);
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}