#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  max-height: 800px;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rich_text_1 {
  position: absolute;
  width: 1001px;
  height: 54px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 27.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rich_text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 27.0pt;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 27.0pt;
  line-height: 0px;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Group_18 {
  position: absolute;
  width: 87px;
  height: 94px;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Triangle_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 94px;
  height: 86px;
  position: absolute;
  overflow: hidden;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Triangle_1 .content {
  width: 94px;
  height: 86px;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Triangle_1 {
  position: absolute;
  width: 94px;
  height: 86px;
  background-color: #FD996B;
  background-image: none;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #shapewrapper-s-Triangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #shapewrapper-s-Triangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #shapewrapper-s-Triangle_1 span#rtr-s-Triangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Raleway-Regular',Arial;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 14.0pt;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_2 {
  position: absolute;
  width: 658px;
  height: 81px;
  background-color: #86A4E1;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 42px;
  font-size: 22.0pt;
  font-family: 'Raleway-Regular',Arial;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 22.0pt;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Group_2 {
  position: absolute;
  width: 658px;
  height: 22px;
  display: none;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_3 {
  position: absolute;
  width: 652px;
  height: 15px;
  background-color: #F7F7F7;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F7F7F7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_1 {
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: #337AB7;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Text_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_4 {
  position: absolute;
  width: 658px;
  height: 81px;
  background-color: #86A4E1;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  line-height: 42px;
  font-size: 22.0pt;
  font-family: 'Raleway-Regular',Arial;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 22.0pt;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-21b0d7e3-b210-4023-b868-19cefdb0ee7d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}