#s-293976c7-398f-424e-90e5-b5ea7913eff3 #s-Rich_text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-293976c7-398f-424e-90e5-b5ea7913eff3 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-293976c7-398f-424e-90e5-b5ea7913eff3 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-293976c7-398f-424e-90e5-b5ea7913eff3 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-293976c7-398f-424e-90e5-b5ea7913eff3 #s-Triangle_1 {
  -ms-transform: rotate(270.0deg);
}
#s-293976c7-398f-424e-90e5-b5ea7913eff3 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-293976c7-398f-424e-90e5-b5ea7913eff3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}