#s-6e09c3a2-1edb-4538-a7c7-d50c64d3ef12 #s-Rich_text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-6e09c3a2-1edb-4538-a7c7-d50c64d3ef12 #s-Triangle_1 {
  -ms-transform: rotate(270.0deg);
}
#s-6e09c3a2-1edb-4538-a7c7-d50c64d3ef12 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6e09c3a2-1edb-4538-a7c7-d50c64d3ef12 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6e09c3a2-1edb-4538-a7c7-d50c64d3ef12 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-6e09c3a2-1edb-4538-a7c7-d50c64d3ef12 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-6e09c3a2-1edb-4538-a7c7-d50c64d3ef12 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-6e09c3a2-1edb-4538-a7c7-d50c64d3ef12 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-6e09c3a2-1edb-4538-a7c7-d50c64d3ef12 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-6e09c3a2-1edb-4538-a7c7-d50c64d3ef12 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6e09c3a2-1edb-4538-a7c7-d50c64d3ef12 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-6e09c3a2-1edb-4538-a7c7-d50c64d3ef12 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-6e09c3a2-1edb-4538-a7c7-d50c64d3ef12 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6e09c3a2-1edb-4538-a7c7-d50c64d3ef12 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}