#s-7569ddac-9da2-4565-9a81-35e66a4912bb #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7569ddac-9da2-4565-9a81-35e66a4912bb #s-Rich_text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-7569ddac-9da2-4565-9a81-35e66a4912bb #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7569ddac-9da2-4565-9a81-35e66a4912bb #s-Category_7-options {
  background-color: #FFFFFF;
}
#s-7569ddac-9da2-4565-9a81-35e66a4912bb #s-Triangle_2 {
  -ms-transform: rotate(90.0deg);
}
#s-7569ddac-9da2-4565-9a81-35e66a4912bb #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7569ddac-9da2-4565-9a81-35e66a4912bb #s-Triangle_1 {
  -ms-transform: rotate(270.0deg);
}
#s-7569ddac-9da2-4565-9a81-35e66a4912bb #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7569ddac-9da2-4565-9a81-35e66a4912bb #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7569ddac-9da2-4565-9a81-35e66a4912bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}