#s-7569ddac-9da2-4565-9a81-35e66a4912bb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7569ddac-9da2-4565-9a81-35e66a4912bb #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7569ddac-9da2-4565-9a81-35e66a4912bb #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7569ddac-9da2-4565-9a81-35e66a4912bb #s-Triangle_2 {
  rotation: 90.0;
  margin-left: 4px;
  margin-top: -4px;
}
#s-7569ddac-9da2-4565-9a81-35e66a4912bb #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7569ddac-9da2-4565-9a81-35e66a4912bb #s-Triangle_1 {
  rotation: 270.0;
  margin-left: 3px;
  margin-top: -4px;
}
#s-7569ddac-9da2-4565-9a81-35e66a4912bb #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7569ddac-9da2-4565-9a81-35e66a4912bb #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7569ddac-9da2-4565-9a81-35e66a4912bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}