#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Rich_text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Triangle_2 {
  -ms-transform: rotate(90.0deg);
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Triangle_1 {
  -ms-transform: rotate(270.0deg);
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}