#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  max-height: 800px;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Rich_text_1 {
  position: absolute;
  width: 1001px;
  height: 54px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 27.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Rich_text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 27.0pt;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 27.0pt;
  line-height: 0px;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Group_17 {
  position: absolute;
  width: 86px;
  height: 94px;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Triangle_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 94px;
  height: 86px;
  position: absolute;
  overflow: hidden;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Triangle_2 .content {
  width: 94px;
  height: 86px;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Triangle_2 {
  position: absolute;
  width: 94px;
  height: 86px;
  background-color: #6DFD30;
  background-image: none;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #shapewrapper-s-Triangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #shapewrapper-s-Triangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #shapewrapper-s-Triangle_2 span#rtr-s-Triangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Raleway-Regular',Arial;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 14.0pt;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Group_18 {
  position: absolute;
  width: 87px;
  height: 94px;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Triangle_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 94px;
  height: 86px;
  position: absolute;
  overflow: hidden;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Triangle_1 .content {
  width: 94px;
  height: 86px;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Triangle_1 {
  position: absolute;
  width: 94px;
  height: 86px;
  background-color: #FD996B;
  background-image: none;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #shapewrapper-s-Triangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #shapewrapper-s-Triangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #shapewrapper-s-Triangle_1 span#rtr-s-Triangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Raleway-Regular',Arial;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 14.0pt;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Input_2 textarea::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Input_2 textarea::-moz-placeholder {
  color: #B4B4B4;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Input_2 textarea:-moz-placeholder {
  color: #B4B4B4;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Input_2 textarea:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Input_2 {
  position: absolute;
  padding-left: 5px;
  width: 514px;
  height: 299px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  cursor: text;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Input_2 textarea {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_2 {
  position: absolute;
  width: 261px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Raleway-Regular',Arial;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 16.0pt;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_4 {
  position: absolute;
  width: 381px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 16.0pt;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Input_4 {
  position: absolute;
  padding-left: 5px;
  width: calc(514px - 71px);
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 16.0pt;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 16.0pt;
  text-shadow: none;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Input_4 .icon {
  top: 3px;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Input_4 input.file-input {
  top: 3px;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_5 {
  position: absolute;
  width: 381px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 16.0pt;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Group_1 {
  position: absolute;
  width: 241px;
  height: 40px;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Label_1 {
  position: absolute;
  width: 231px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Label_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 16.0pt;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Input_1 {
  position: absolute;
  box-shadow: none;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Line_2 {
  position: absolute;
  width: 561px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Line_3 {
  position: absolute;
  width: 561px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Line_4 {
  position: absolute;
  width: 561px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 #s-Line_5 {
  position: absolute;
  width: 561px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-95c48485-f8a1-47cc-9e2c-2ea4f8f4a671 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}