#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Rich_text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Triangle_2 {
  -ms-transform: rotate(90.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Triangle_1 {
  -ms-transform: rotate(270.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-a9232e77-ea56-4d0f-8b94-ef15f26571f2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}