<!DOCTYPE html>
<html>
<head>
  <title>Model Training</title>
  <link rel="stylesheet" type="text/css" href="../static/content/indexstyle.css"/>
  <link rel="stylesheet" type="text/css" href="../static/content/starttraining.css"/> 
  <script type="text/javascript" src="../static/scripts/starttraining.js">
    
  </script>
</head>
<body>
    <img id="pes"  src="../static/images/pes.jpg" width="100px" height="60px">
    <img id="ccbd"  src="../static/images/ccbd.png" width="100px" height="60px">

    <div>
      <center><p><h1>Model Training </h1></p></center>
    </div>
    <br>
    <br>
    
    	<div id="myProgress">
  			<div id="myBar"></div>
		</div>
	<br>
	<br>
	<center>
	<button onclick="move()">Train.. </button> 
    </center>

</body>
</html>
